.header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(3, 3, 75);
    font-size: 20px;
}

.choices{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

img{
    height: 165px;
    width: 165px;
    object-fit: cover;
    border-radius: 50%;
}
img:hover{
    cursor: pointer;
    border: 7px solid black;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}

.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-score{
    text-align: center;
    font-size: 3rem;
}
#comp-score{
    text-align: center;
    font-size: 3rem;
}

#msg{
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}